.logo {
    margin: 8em auto 2em auto;
}

ion-list {
    //padding: 0em 5em 1em 5em;
    ion-item{
        margin: 0 auto;
        width: 70%;  
    }
}

ion-title{
    text-align: center;
}

.error-message {
    color: red;
    margin: 0em 15em 0em 15em;
}

.login {
    width: 65%;
    height: 35px;
    margin: 2.5em auto 0.5em auto;
}

.forgetpwd {
    margin: 1em auto 0.5em auto;
}