div.sub-title{
    margin: 15px auto 0px;
    width: 90%;
    label{        
        font-weight: bold;        
    }
   
    p{
        min-height: 26px;
        line-height: 26px;
    }    
}

.w6-5{
    letter-spacing: 0.25em;
    margin-right: -0.25em;
}